/* Global Styles */

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #4a4a4a;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

a {
  transition: color 150ms linear;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.15;
}

h2 {
  font-size: 1.5rem;
}

h1, h2, h3, p {
  margin-top: 24px;
  line-height: 1.15;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width {
  padding: 2rem 1.5rem;
}

.button {
  width: 100%;
  padding: 1rem 0;
  background-color: #4A4A4A;
  color: white;
  text-align: center;
  margin-top: 32px;
  font-weight: 300;
  transition: background-color 150ms linear;
}

.button:hover {
  background-color: #9B9B9B;
}

/* Nav Styles */

#colmar-navigation {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
}

.colmar-navigation-inner {
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.colmar-logo {
  font-family: "Ubuntu", sans-serif;
}

.colmar-logo-wordmark{
  font-size: 1.3rem;
}

.colmar-logo-wordmark span:first-child {
  font-weight: 700;
  color: #4d4d4d;
}

.colmar-logo-wordmark span:last-child {
  margin-left: -0.15rem;
  color: #9b9b9b;
}

.nav-item {
  margin-right: 1rem;
  font-family: Arial;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  color: inherit;
}

.nav-item a:hover {
  color: #9B9B9B;
}

/* Header Styles */

#colmar-header {
  background-color: #D8D8D8;
  height: 32rem;
  justify-content: flex-start;
  margin-top: 64px;
}

.header-image {
  width: 60%;
  height: 100%;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-text {
  width: 30%;
  margin-left: 3rem;
}
